<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG Quatro Patas</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <h1>Bem-vindo à ONG Quatro Patas</h1>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="adocao.html">Adoção</a></li>
                <li><a href="quatro-patas.html">Sobre nós</a></li>
                <li><a href="doacoes.html">Doações</a></li>
                <li><a href="associados.html">Seja um Associado</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Sobre a ONG</h2>
            <p>Nossa missão é resgatar e encontrar um lar para cachorros em situação de abandono. Venha conhecer nosso trabalho!</p>
        </section>
        <img src="../public/img/pix_art3.jpeg" alt="Venha ser um associado" width=300 height=600>
    </main>
    <footer>
        <p>&copy; 2025 ONG Quatro Patas - Todos os direitos reservados</p>

        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </footer>
</body>
</html>
